* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header {
    text-align: center;
    padding: 15px;
    background-color: rgb(22, 22, 129);
    color: white;
}

nav ul li {
    margin: 0.5em 0 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  li {
    list-style: none;
  }
  
 
  a {
    text-decoration: none;
    color: inherit;
  }

  .searchContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  input {
    background-color: rgb(212, 210, 210);
    font-size: 1.3rem;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    padding-inline: 45px;
  }

  h1 {
    text-align: center;
    margin: 15px;
    
  }

  form {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin: 40px auto;
  }

  form input {
    width: 30%;
    margin: 5px auto;
  }

  label {
    margin: 5px auto;

  }

#loginBtn, #registerUserBtn {
  width: 20%;
  margin: 10px auto;
  font-size: 1.3rem;
  border-radius: 10px;
}

article {
  text-align: center;
  margin: 55px;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(49, 115, 201);
  color: black;
  top: 50%;
  right: 50%;
  width: 40rem;
  height: auto;
  transform: translate(50%, -50%);
  display: none;
  padding: 30px;
}